<!DOCTYPE html>
<html lang="en" data-ng-app="epic">
<head>
	<meta charset="utf-8">
	<title>Epic</title>

	<!-- Angular -->
	<script type="text/javascript" src="js/dependencies/lodash.js"></script>
	<script type="text/javascript" src="js/dependencies/angular.js"></script>
	<script type="text/javascript" src="js/dependencies/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="js/dependencies/angular-google-maps.js"></script>
	<script type="text/javascript" src="js/dependencies/angular-simple-logger.js"></script>
	<script type="text/javascript" src="js/dependencies/angular-resource.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-animate.js"></script>
	<script src='http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=en&v=3.25'></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- Javascript -->
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/story/story.js"></script>
	<script type="text/javascript" src="js/story/story.factory.js"></script>
	<script type="text/javascript" src="js/story/index.controller.js"></script>
	<script type="text/javascript" src="js/home/home.js"></script>
	<script type="text/javascript" src="js/home/index.controller.js"></script>
	<script type="text/javascript" src="js/home/home.factory.js"></script>
	<script type="text/javascript" src="js/home/show.controller.js"></script>
	<script type="text/javascript" src="js/dependencies/map_style.js"></script>


	<!-- Bootstrap & CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
  <base href="/#/">
</head>
<body data-ng-controller="MainController">

    <div class="epic-list" id="epic-list">
      <div data-ng-repeat="epic in epics">
        <a href="/#/epics/{{ epic.id }}">{{ epic.title }}</a>
      </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-top">
      <ul class="nav navbar-nav">
        <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
        <li data-ng-if="!HomeIndexCtrl.epicList" ng-click="open()"><a>Epics</a></li>
      </ul>
    </nav>

    <div id="main">
      <main data-ui-view></main>
    </div>

  </body>
</html>
